header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.LogoName{
    display: flex;
    align-items: center;


}

.LogoName img{
    width: 80px;
    height: 80px;
}
nav {
    display: flex;
    gap:25px
}
header nav a{
    color: #906d36;
    text-decoration: none;
    background-color: white;
    outline: 3px solid #906d36;
    padding: 10px;
    transition: 0.3s;
}

header nav a:hover{
    color: white;
    background-color: #906d36 ;
}

.active{
    color: white;
    background-color: #906d36 ;
}