---
import ProyectLayout from "../../layouts/LayoutForProject.astro" 

---

<ProyectLayout title = "Mockup Project">

    <a href="./projects/mockup" >
        <img src="../src/imgs/mockup.png" alt="" style="width: 800px;" transition:name="Mockup">
    </a>


</ProyectLayout>