@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Square';
    src: url(/fonts/Square.ttf);
}


*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding-top: 150px; /* Espacio para el header fijo */
}
h1{
    font-family: 'Square';
    color: #9D6D2E;
}
h2,h3,a,p{
    font-family: "Montserrat", sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

/* Media queries para ajustar el padding con el header responsivo */
@media screen and (max-width: 768px) {
    body {
        padding-top: 180px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 200px;
    }
}