@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Square';
    src: url(/fonts/Square.ttf);
}

:root {
    --main-orange: #9D6D2E;
    --light-bg: #f9f9f9;
    --main-font: "Montserrat", sans-serif;
    --heading-font: 'Square', sans-serif;
}

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 150px; /* Espacio para el header fijo */
    background-color: var(--light-bg);
}

/* Estilo para el contenedor principal para empujar el footer al final */
main {
    flex: 1 0 auto;
    width: 100%;
    min-height: calc(100vh - 250px); /* Altura mínima para empujar el footer hacia abajo */
    padding-bottom: 50px; /* Espacio adicional antes del footer */
    position: relative;
    z-index: 1; /* Asegura que el contenido principal esté por encima del footer */
}

/* Estilos para tipografía */
h1{
    font-family: var(--heading-font);
    color: var(--main-orange);
}
h2,h3,a,p{
    font-family: var(--main-font);
}

a{
    color: black;
    text-decoration: none;
}

/* Estilos específicos para el footer para asegurar que esté al final */
footer {
    width: 100%;
    z-index: 0;
    margin-top: auto; /* Esto empuja el footer al final cuando hay poco contenido */
}

/* Media queries para ajustar el padding con el header responsivo */
@media screen and (max-width: 768px) {
    body {
        padding-top: 180px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 200px;
    }
}