.page{
    margin-top: 50px;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}
.project-container{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .page {
        margin-top: 20px;
    }
    .project-container {
        width: 90%;
        gap: 30px;
    }
}