---
import '../styles/header.css'
import logo from  '../imgs/logo1.png'
const pathname = Astro.url.pathname;
---

<header>
    <a class="LogoName" href= "./" >
        <img src= {logo.src} alt="">
        <div class="back"></div>
    </a>

    <nav>
        <a class={pathname === '/abtme' ? 'active' : ''} href="./abtme">About Me</a>
        <a class={pathname === '/projects' ? 'active' : ''} href="./projects">Projects</a>
        <a class={pathname === '/contact' ? 'active' : ''} href="./contact">Contact</a>

    </nav>
</header>