---
import {ClientRouter} from 'astro:transitions';
import '../styles/global.css';
import '../styles/projectDetail.css';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<ClientRouter/>
	</head>
	<body class="project-page">
		<main class="project-detail-container">
			<a href="/projects" class="back-btn" data-aos="fade-right" data-aos-duration="600">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#9D6D2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<line x1="19" y1="12" x2="5" y2="12"></line>
					<polyline points="12 19 5 12 12 5"></polyline>
				</svg>
				<span>Volver a Proyectos</span>
			</a>
			<slot/>
		</main>
		<Footer />
	</body>
</html>

<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
	document.addEventListener('DOMContentLoaded', () => {
		AOS.init({
			duration: 800,
			easing: 'ease-in-out',
			once: false,
		});
	});
</script>